<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
  <%- include('header1.ejs') %>
  <%- include('body1.ejs') %>
  <%- include('bikeBookinForm.ejs') %>
  <%- include('footer1.ejs') %>
  


  
</body>
</html>