<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
  <div class="main-frame">
   
      <div class="firstbike-layout">
      <div>
        <div class="first-bike">
       <h3 class="firstbike-heading"> Bike Serivce <br>999/-</h3>
      </div>
      <img src="/image/continentalgt650image.png" alt="" class="firstbike-img">
      
      
      <form action="/book" method="post">
      <div class="first-bike-form">
        
        <input type="text" class="input-box-firstBike" name="customerEmail" placeholder="Email Id" required><br>
        <input type="number" class="input-box-firstBike" name="customerMobile" placeholder="Mobile Number" required><br>
        <select id="dropdown" class="select-firstbike" name="serviceName" required>
          <option value="" disabled selected>Select a Serivce</option>
          <option value="General"> General service check-up</option>
          <option value="Oil"> Oil change
          </option>
          <option value="water">Water wash
          </option>
          
      </select>
        <input type="date" name="date" class="input-box-firstBike"><br>
        <input type="submit" class="select-firstbike">
      </div>
    </form>
      </div>
      
   
  </div>
</div>



 

</body>
</html>