<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/body.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@500;800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@500;800&family=Open+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="full-container">
    <div class="h2-tag">
      <h2>Worried about your </h2><br>
      <!-- <h1> Expert Motorcycle Repairs Await</h1>  -->
    </div>
    <div class="h1-tag">
      <h1>BIKE SERVICE?</h1>
    </div>
    <div class="rectangles">
      <div class="rectange-headlines">
      <h3 class="rectangle-box-h3">NOW AVAIL BIKE SERVICE</h3>
     </div>
     <div class="reatangle-price">
      <h3 class="rectangle-blue-box">@999/-</h3>
     </div>
  </div>
  <div class="gear-icons-layout">
     <div class="first-row-icons">
      <div class="filter">
        <img src="/image/Air-Filter-Clean.png" alt="airfilter" class="img-icons-service">
        <p class="filter-text">Air Filter Cleaning </p>
      </div>
      <div class="filter filter1">
        <img src="/image/bike-wash.png" alt="airfilter"  class="img-icons-service">
        <p class="filter-text">Bike Wash and Polish </p>
      </div>
      <div class="filter filter2">
        <img src="/image/Brake-Cleaning.png" alt="airfilter"  class="img-icons-service">
        <p class="filter-text">Brake Cleaning </p>
      </div>
     </div>

     <div class="first-row-icons">
      <div class="filter ">
        <img src="/image/Carburettor-Cleaning.png" alt="airfilter"  class="img-icons-service">
        <p class="filter-text">Carburettor Cleaning </p>
      </div>
      <div class="filter filter1">
        <img src="/image/Chain-Sprocket-Tightening-and-checking.png" alt="airfilter"  class="img-icons-service">
        <p class="filter-text"> Chain Cleaning </p>
      </div>
      <div class="filter filter2">
        <img src="image/Clutch-Adjustment.png" alt="airfilter"  class="img-icons-service">
        <p class="filter-text"> Cluch Adjustment </p>
      </div>
     </div>


     <div class="first-row-icons">
      <div class="filter">
        <img src="/image/oil-Filter-Change.png" alt="airfilter"  class="img-icons-service">
        <p class="filter-text"> Filter Cleaning </p>
      </div>
      <div class="filter filter1">
        <img src="/image/spark-plug.png" alt="airfilter"  class="img-icons-service img-special1">
        <p class="filter-text"> Spark Plug </p>
      </div>
      <div class="filter filter2">
        <img src="image/Engine-oil-Change.png" alt="airfilter"  class="img-icons-service img-special2">
        <p class="filter-text"> Engine Oil </p>
      </div>

  </div>
  </div>
  </div>

  <!-- down top ppicture steps to book the services  -->
  <div class="steps-layout">
    
    <div class="line-layout">
      
      <div class="line">
      </div>
      <div class="line-letter">
        <h2>Simple & Easy to book</h2>
      </div>
    </div>
    
    <div class="rectangle-box">
        <div class="first-rectangle-box">
          <p class="tetx-rectangle">1.Fill the Form</p>
        </div>

        <div class="first-rectangle-box">
          <p class="tetx-rectangle">2.Select your Service</p>
        </div>

        <div class="first-rectangle-box">
          <p class="tetx-rectangle">3.Free pickup </p>
        </div>
      </div>
      
  </div>
</body>
</html>