<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/footer.css">
 
</head>
<body>
  <div class="footer-class">
     <footer>
      
      <div class="footer-layout">
       <h3>@ 2023 Monica Bike Service Private Limited</h3>  
      </div>
   
  </footer>
 
  </div>
 
</body>
</html>