<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/logo.css">
</head>
<body>
  <div class="full-header-picture">
    <img src="/image/monica-logos_black.png" alt="">
  </div>
</body>
</html>